/* Empty. Add your own CSS if you like */

#homePage {
	text-align: center;
}

/* icons can be clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night */

.icon-clear-day, .icon-clear-night, .icon-rain, .icon-snow, .icon-sleet, .icon-wind, .icon-fog, .icon-cloudy, .icon-partly-cloudy-day, .icon-partly-cloudy-night {
	height: 400px;
	width: 400%;
	background-position: center;
	background-repeat: no-repeat;
}

.fiveDayItem{
	border: 1px solid black;
}

#five-day-forecast .card{
	margin: 0px;
	padding-top: 5px;
}

#three-day-forecast-holder{
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#noMargHeader{
	margin-top: 0px; 
}
/*Status API Training Shop Blog About Pricing*/

