/* Empty. Add your own CSS if you like */

#homePage {
	text-align: center;
}
/* icons */

/* can be clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, or partly-cloudy-night */

.icon-clear-day, .icon-clear-night, .icon-rain, .icon-snow, .icon-sleet, .icon-wind, .icon-fog, .icon-cloudy, .icon-partly-cloudy-day, .icon-partly-cloudy-night {
	height: 200px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;  

}
